$generalpalette: (
    bluemain: #0e6ba7,
    tealmain: #00b2b0,
    escarlata: rgb(206, 0, 0),
    mostaza: rgb(224, 161, 0),
    blanco: rgb(105, 105, 105),
    verdi: rgb(44, 190, 24),
    azulino: rgb(49, 98, 233),
    moradillo: rgb(107, 17, 192),
);
