@mixin titleSubtitle($desiredfont) {
    font-family: $desiredfont;
    color: map-get($map: $generalpalette, $key: bluemain);
    z-index: 50;
    padding-left: 0.5em;
}

@mixin transform($transformation) {
    transform: $transformation;
    -o-transform: $transformation;
    -ms-transform: $transformation;
    -moz-transform: $transformation;
    -webkit-transform: $transformation;
}
